.player-container {
    width: 500px;
    height: 100px;
    position: relative;
    border-radius: 10px;
    border: solid 2px white;
    max-width: 350px;
}

.player-num {
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: "Exo 2", "Verdana";
}

.player-name {
    width: 60%;
    height: 50px;
    font-size: 1.4em;
    position: absolute;
    right: 60px;
    top: 25px;
    color: black;
}

.delete-btn {
    width: 40px;
    height: 40px;
    font-size: 40px;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 30px;
}

.delete-btn:hover {
    cursor: pointer;
    color: black !important;
}

.character-icon-container {
    position: absolute;
    bottom: 8px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    opacity: 1;
}

.character-icon-container:hover {
    background-color: darkgrey;
    opacity: 0.5;
}

.character-icon {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    opacity: 1;
}

.selection-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}